.screen {
  background-image: url("shim_back_ground.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.title {
  text-align: left;
  margin-top:0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5%;
  padding-right: auto;
  color: black;
  background-color: #99ff33;
  font-size: 30px;
}

.subTitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: #99ff33;
  margin-left: 10px;
  margin-right: 10px;
}

.numValves {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 95%;
  font-size: 20px;
  color: #767676;
}

select{
    text-align-last:center;
    padding-right: 29px;
    direction: rtl;
}

.input {
  margin-left: 10px;
  margin-right: 10px;
  width: 95%;
  text-align: center;
  font-size: 18px;
}

.valve {
  margin-right: auto;
  width: 32%;
  display: inline-block;
  margin-left: auto;
  animation-name: myframes;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes myframes {
  0%  { opacity: .0; transform: rotate(0deg);}
  65% { opacity: .1; transform: perspective( 600px ) rotateY( 180deg );}
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  position: relative;
  text-align: center;
}

#btn {
  font-size: 20px;
}

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px;
	width:337px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #99ff33; font-size:19px; padding:10px; color:black; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #99ff33;  padding:10px; text-align:right; }
